body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.container {
    height: 100vh;
    width: 100vw;
    background-color:rgb(246, 246, 246);
    color:rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.results {
    max-width: 600px;
    margin-top: 0;
    text-align: center;
}

.generated {
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgb(88, 88, 88);
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.dark-div{
    background-color: rgb(44, 44, 44);
    color:rgb(228, 228, 228);
}

.switch {
    align-self: end;
    margin: 30px 30px 0 0 ;
    box-shadow: 0 0 10px white;
}

.dark-switch {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.logo {
    width: 200px;
}

.copy {
    width: 30px;
}



h1 {
    margin: 5px  0 0 0 ;
    text-align: center;
}

i {
    display: block;
    max-width: 440px;
    margin: 3px;
    font-size: 16px;
}

textarea, button {
    max-width: 450px;
    min-width: 330px;
    min-height: 50px;
    max-height: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 15px rgb(116, 116, 116);
}

button {
    margin: 15px 0 0 0;
    background-color: rgb(28, 132, 213);
    font-weight: 700;
    color:  rgba(252, 219, 69); 
}

.dark-button {
    background-color: rgba(252, 219, 69); 
    box-shadow: 2px 2px 15px rgb(138, 138, 138);
    color:rgb(109, 157, 255);
}

button:hover {
    transform: scale(1.03);
}

.exp {
  margin: 10px 0 8px -10px;
  line-height: 16px;
}

.query {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
  
}
.clipboard {
    display: inline;
}
.generated {
    display: flex;
}